Pillow==3.0.0
argparse==1.4.0
protobuf==3.0.0a1
pycrypto==2.6.1
python-axolotl==0.1.7
python-axolotl-curve25519==0.1
python-dateutil==2.4.2
requests==2.0.0
-e git+git://github.com/tgalal/yowsup.git@v2.4.48#egg=yowsup
